<div class="container">
  <div
    class="row d-flex justify-content-center align-items-center"
    [ngStyle]="searchContainerHeight"
    *ngIf="!user"
  >
    <div class="col-12">
      <h1 class="text-center logo-title">Github Profile</h1>
    </div>
    <div class="col-6">
      <div class="form">
        <div class="row">
          <div class="col-11">
            <i class="bi bi-search"></i>
            <input
              class="form-control form-input border"
              type="search"
              value="search"
              id="example-search-input"
              placeholder="Search with github name..."
              [(ngModel)]="searchText"
              name="search"
              #search
              (keyup.enter)="getUsers(search.value)"
            />
          </div>
          <div class="col-1">
            <i
              class="bi bi-clock-history font-size-2 history-icon"
              (click)="getHistoryList()"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="isHistoryActive">
    <div class="text-center">
      <span
        *ngFor="let item of handleSeachHistoryHash(searchHistory)"
        class="badge bg-secondary m-1 history-item"
        (click)="getUsers(item)"
        >{{ item }}
        <i class="bi bi-x-circle icon-remove" (click)="removeHistory(item)"></i
      ></span>
    </div>
  </div>
  <div class="row" *ngIf="!user && !isHistoryActive">
    <div class="col-3 mb-4" *ngFor="let user of users">
      <div class="card text-center box-shadow-1" (click)="getUserDetail(user)">
        <figure class="m-0 p-0">
          <img
            class="img-fluid img-circle p-2 img-size"
            [src]="user.avatar_url"
            alt=""
          />
        </figure>
        <div class="card-header-title text-center p-2 border-top">
          {{ user.login | uppercase }}
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="user && !isHistoryActive">
    <profile-detail
      [user]="user"
      [userRepo]="userRepo"
      (backToSearch)="getSearchList()"
    ></profile-detail>
  </div>
</div>
